@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
}
ul li {
    list-style-type: none;
}
a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
div#logo-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.navbar-dark.bg-dark {
    background: #1a4ed4 !important;
    padding: 7px 0;
    width: 100%;
}
.menu a.nav-item.nav-link {
    border-left: 1px solid #5982ca;
    padding: 6px 62px !important;
    font-size: 25px;
    text-transform: uppercase;
}
.navbar-nav.ml-auto {
    margin-left: auto;
}
div#navbarCollapse {
    display: flex;
}
.navbar-nav.menu {
    text-align: center;
    flex-grow: 100;
}
.menu a.nav-item.nav-link:first-child {
    border-left: none;
}
.home-page-background {
    background-image: url("../images/bg.png");
    height: 740px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page-background span {
    font-size: 100px;
}
.center {
    text-align: center;
    font-size: 30px;
    color: rgba(0,78,212,1);
    font-weight: bold;
    padding-bottom: 10px;
}
.bg-hp {
    position: relative;
    background-image: url("../images/bg-home-page.png");
    height: 472px;
    background-size: cover;
}
.bg-hp-content {
    position: absolute;
    right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
.bg-hp-title {
    color: #fff;
    font-size: 65px;
}
a.access-stream, .create-programme-btn {
    background: rgba(255,238,0,1);
    padding: 20px 100px;
    text-decoration: none;
    color: rgba(0,78,212,1);
    font-size: 40px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 1px 4px 4px 1px #19101087;
}
.family {
    background-image: url("../images/family.png");
    height: 550px;
    background-size: cover;
}
span.text-nomal {
    font-size: 20px;
    padding: 20px 0;
}
.create-programme-btn {
    padding: 20px 50px !important;
}
.follow {
    display: flex;
}
.social a {
    background: #ec0404;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.social-item {
    width: 319px;
    display: block;
    margin-left: 16px;
    height: 42px;
}
.social-item a i {
    font-size: 28px;
    border-right: 1px solid #fff;
    margin-right: 30px !important;
    margin-left: 30px;
    width: 49px;
}
.follow-me {
    display: flex;
    align-items: center;
}
.category-event {
    height: 250px;
    position: relative;
}
.category-event img {
    width: 100%;
    height: 100%;
}
.category-event-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.category-event-content-title {
    color: #fff;
    font-size: 31px;
}
span.category-event-content-title-bold {
    color: #fff;
    font-size: 57px;
    font-weight: bold;
}
.category-event-content-learn-more {
    text-decoration: none;
}
.category-event-content {
    text-align: center;
}
a.category-event-content-learn-more {
    padding:0.4rem;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 24px;
    transition: 1s;
}
a.category-event-content-learn-more:hover {
    background: #1a1e21;
    transition: 1s;
    border: none;
}
footer {
    background: #004ed4;
    padding: 40px 0;
    color: #fff;
    font-size: 22px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    padding: 0 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
.bg-jazz {
    background-image: url("../images/bg-jazz.png");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bg-jazz-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

span.bg-jazz-title {
    color: #fff;
    font-size: 82px;
    font-weight: bold;
}

span.bg-jazz-title-small {
    color: #fff;
    font-size: 47px;
}

a.book-ticket {
    text-decoration: none;
    background: #fdf128;
    font-size: 42px;
    padding: 15px 92px;
    border-radius: 43px;
    text-transform: uppercase;
    font-weight: 600;
}
.event-day a {
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 19px 49px;
    font-size: 23px;
    color: #333;
    background: #fff;
    box-shadow: 0px 1px 3px 1px #44303030;
}
.event-day.active a {
    background: #288ad6;
}
.bg-jazz-001 {
    background-image: url("../images/bg-jazz-001.png");
    height: 275px;
}
.bg-jazz-001-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.bg-jazz-001-list li {
    color: #fdee00;
    font-size: 28px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.all-access {
    color: #fff;
    text-align: center;
}

span.big-title {
    font-size: 49px;
    font-weight: 600;
}

span.small-title {
    font-size: 36px;
}

.bg-jazz-001-a {
    color: #1a4ed4;
    text-decoration: none;
    background: #fdef16;
    padding: 15px 44px;
    border-radius: 25px;
    border: none;
}
.price-title {
    color: #fff;
    font-size: 77px;
}
i.far.fa-check-circle {
    font-size: 35px;
    margin-right: 10px;
}
h5.card-title {
    background: #ccd9f0;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #1441b2;
    font-size: 24px;
}
.card {
    border: none !important;
}
.card-maps i {
    color: #194dd2;
    font-size: 25px;
    margin-right: 10px;
}

.card-maps {
    margin: 10px 0;
}

.card-maps span {
    font-size: 20px;
    font-weight: 400;
}

.card-info-image {
    border-radius: 50%;
    overflow: hidden;
    width: 90%;
    height: 230px;
}

.card-info {
    background: #ccd9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.card-info-price {
    background: #fff;
    padding: 4px 20px;
    border-radius: 21px;
    box-shadow: 1px 2px 1px 1px #33333359;
}

span.currency {
    font-size: 45px;
}

span.card-info-base-price {
    font-size: 51px;
}

.card-add-to-cart-input a {
    padding: 0px 21px;
    background: #98b7ed;
    color: #fff;
    text-decoration: none;
    font-size: 41px;
}

.card-add-to-cart-input input {
    width: 57px;
    font-size: 35px;
    border: none;
}

.card-add-to-cart-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-add-to-cart {
    text-align: center;
    background: #ccd9f0;
    padding: 20px 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

button.add-to-cart {
    border: none;
    background: #82a6e6;
    padding: 10px 51px;
    border-radius: 29px;
    font-size: 21px;
    text-transform: uppercase;
    color: #fff;
}
.col-5.dont-miss-ou {
}

span.price {
    font-size: 125px;
    color: #194dd2;
}
.get-it-out {
    text-decoration: none;
    background: #fdef09;
    color: #1a4ed4;
    padding: 21px 58px;
    border-radius: 31px;
    font-size: 23px;
    border: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px 2px #33333361;
    display: block;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb {
    font-size: 21px;
    padding: 20px 0;
}
a.breadcrumb-home {
    color: #ee9416;
}

.step-active {
    background-image: url("../images/step1.png");
}
li.step {
    width: 25%;
    height: 118px;
}
.same-step {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 0;
}
span.step-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #333;
    font-weight: 600;
}
.step-normal {
    background-image: url("../images/step2.png");
}

.table-cart tr th {
    color: #194dd2;
    font-size: 38px;
    text-align: center;
}

.table-cart  tr {
    border-bottom: 2px solid #fdee00;
}

.table-cart  i.far.fa-times-circle {
    color: #efa643;
    font-size: 37px;
}

.table-cart input#qty {
    width: 45px;
    height: 45px;
    font-size: 24px;
}
.table-cart tr td {
    padding: 10px 20px;
    font-size: 21px;
    color: #000;
}

.payment-login {
    flex-direction: column;
}

.payment-login a {
    border: 1px solid #000;
    padding:  15px 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 21px;
}

.vat span:first-child {
    font-size: 44px;
    margin-right: 80px;
    font-weight: bold;
}

.vat span:last-child {
    font-size: 32px;
}

.total span:first-child {
    color: #000;
    font-weight: bold;
    font-size: 50px;
    color: #1a4ed4;
    margin-right: 81px;
}

.total span:last-child {
    font-size: 33px;
}

.total {text-align: center;}
.vat {
    text-align: center;
    margin-top: 67px;
}
.step-title i.far.fa-check-circle {
    color: #4bb244;
    font-weight: 200;
    font-size: 23px;
}
a.cancel {
    border: 1px solid #333;
    background: #fff;
    width: 100%;
    padding: 23px;
    font-size: 25px;
    display: block;
    text-align: center;
}

.payment-btn {
    background: #1a4ed4;
    border: navajowhite;
    width: 100%;
    padding: 23px;
    font-size: 25px;
    color: #fff;
}
.order-complete {
    background-image: url("../images/complete.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.access-item {
    border-radius: 50%;
    overflow: hidden;
    width: 220px;
    height: 220px;
}
.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.access-item-title {
    color: #0041b2;
    padding: 20px 0;
    margin-bottom: 50px;
    font-size: 22px;
}
.access-table {
    padding: 20px;
    border-radius: 35px;
}
.access-table tr {
    border-bottom: 2px solid #fff;
    padding: 20px 0;
}
.access-table tr:last-child {
    border-bottom: none;
}
.table tr {
    border-bottom: 1px solid #333;
    padding: 20px 0;
}
.table tr:last-child {
    border-bottom: none;
}
.bg-res {
    background-image: url("../images/res.png");
    height: 500px;
    background-size: cover;
}
.blue-pick {
    background: #1a4ed4;
    padding: 50px;
    text-align: center;
}

.blue-pick a {
    background: #ffee00;
    padding: 20px 75px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    border-radius: 38px;
}
.res-page {
    border: 2px solid #1a4ed4 !important;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.group span {
    font-size: 30px;
    color: #1a4ed4;
}

.group button {
    padding: 10px 20px;
    background: #6efd29;
    color: #1a4ed4;
    border-radius: 22px;
    border: none;
}

p.card-text {
    font-size: 12px;
}
.bg-res2 {
    background-image: url("../images/res2.png");
    background-size: cover;
    height: 500px;
}
input.quantity-list {
    border: none;
    text-align: center;
}